* {
  text-align: center;
  background-color: #DDE5B6;
}
/* button styling */
button {
  background: #DDE5B6;
 background-image: -webkit-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -moz-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -ms-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -o-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: linear-gradient(to bottom, #DDE5B6, #ADC178);
 -webkit-border-radius: 5;
 -moz-border-radius: 5;
 border-radius: 5px;
 text-shadow: 1px 1px 3px #F0EAD2;
 font-family: Arial;
 color: #6C584C;
 font-size: 20px;
 padding: 5px 10px 5px 10px;
 border: solid #A98467 4px;
 text-decoration: none;
 margin: 0em 1em;
}

button:hover {
  background: #cfb5a2;
  text-decoration: none;
}

/* ADD NEW FLOWER input fields styling */
input[type=text] {
  width: 50%;
  padding: 5px 10px;
  margin: 1em;
  box-sizing: border-box;
  border: 2px solid #6C584C;
  border-radius: 4px;
  background-color: #F0EAD2;
}
.form {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5em;
}
input[type=submit] {
  background: #DDE5B6;
 background-image: -webkit-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -moz-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -ms-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: -o-linear-gradient(top, #DDE5B6, #ADC178);
 background-image: linear-gradient(to bottom, #DDE5B6, #ADC178);
 -webkit-border-radius: 5;
 -moz-border-radius: 5;
 border-radius: 5px;
 text-shadow: 1px 1px 3px #F0EAD2;
 font-family: Arial;
 color: #6C584C;
 font-size: 20px;
 padding: 5px 10px 5px 10px;
 border: solid #A98467 4px;
 text-decoration: none;
}
input[type=submit]:hover {
  background: #cfb5a2;
  text-decoration: none;
}

/* ADDED FLOWERS plants we have added styling */
.textdata {
  background-color: #F0EAD2;
}

.description {
  background-color: #F0EAD2;
  overflow-wrap: break-word;
}

.cardgrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.plantcard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 20%;
  margin: 3em;
  box-shadow: 5px 5px 15px 5px #000000;
  align-content: center;
  padding: 1em;
  background-color: #F0EAD2;
}

.plantimg {
  display: flex;
  flex-direction: wrap;
  align-self: center;
  width: 70%;
  padding-bottom: 1em;
  object-fit: contain;
  background-color: #F0EAD2;
  /* box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
  border: 1px solid grey; */
}
