* {
  text-align: center;
}
.form {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5em;
}

input {
  width: 50%;
}

.cardgrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.plantcard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 20%;
  margin: 3em;
  box-shadow: 5px 5px 15px 5px #000000;
  align-content: center;
  padding: 1em;
}

.plantimg {
  flex-direction: wrap;
  align-self: center;
  width: 70%;
  padding-bottom: 1em;
  object-fit: contain;
  /* box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.39);
  border: 1px solid grey; */
}
